<html>
    <head>
        <title>Dashboard</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="dashboard_user.ejs"><h4>Healtholio</h4></a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" style = "color: white" class="nav-link">User</a>
                    </li>
                    <li class="nav-item">
                        <a href="login.ejs" style = "color: white" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div style = "padding: 2%">
                <button class="btn btn-primary" type="button" id = "prev_claims_disp" >View Previous Claims</button>
                <br><br>
                <div id="prev_claims" style = "display:none;">
                    <h4>Long term care Insurance</h4>
                    <p><strong>Status: </strong><span>Approved</span><i class="material-icons" style = "color: green;">
                        done
                        </i></p>
                </div>
                <h3>Current Claims</h3>
                <div id="current_claims">
        
                </div>
                <button class="btn btn-secondary" id = "make_claims_disp"><h3>Make New Claim</h3></button>
                <br><br>
                <div id="new_claim" style = "display: none;">
                    <form action="/makeclaim" method="post">
                        <input type="text" name="insurance_id" placeholder="Enter Insurance ID">
                        <input type="submit" value="submit">
                    </form>
                </div>
                <br>
                <div style = "background-color: aqua;">
                    <h3 style = "padding: 2%">Block Transactions</h3>
                    <div class="row" style = "padding: 2%;">
                        <% users.forEach(function(user){ %>
                            <div class="col-sm-4" style="background-color: bisque; padding: 2%; transform: translate(20%); margin-right:2%">
                                Block Number: <br>Hash: <br>Transactions: 
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
    <script>
        $(document).ready(function(){
            $("#prev_claims_disp").on("click",function(){
                if($('#prev_claims').css("display") != "none"){
                    $("#prev_claims_disp").html("View Previous Claims");    
                }
                else{
                    $("#prev_claims_disp").html("Hide Claims");
                }
                $("#prev_claims").fadeToggle(200);
            });
            $("#make_claims_disp").on("click",function(){
                $("#new_claim").fadeToggle(200);
            })
        });
    </script>
</html>